body
{
   
    background: url(https://wallpaperaccess.com/full/733648.jpg) no-repeat center  /cover ;
    background-attachment: fixed;
   
}

.from
{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    
    box-shadow: inset -5px -5px  rgba(77, 99, 71,0.8);
    border-radius: 25px;
 }

 h1
{
    color: rgba(77, 99, 71,0.8) ;
    margin-top: 70px;
    font-weight: bold;
    font-size: 40px;
   
}


.submit
{
    padding: 10px 40px;
    margin-top: 50px;
    width: 40%;
    background-color: rgba(77, 99, 71,0.2);
    box-shadow: inset -3px -3px rgba(77, 99, 71,0.5);
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    
}

.xyz
{
    padding: 10px 40px;
    margin-top: 50px;
    width: 40%;
    background-color: rgba(77, 99, 71,0.8);
    color:black;
    box-shadow: inset -3px -3px rgba(77, 99, 71,0.5);
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: 3px;
    
}

   
h4
{
    color: rgba(77, 99, 71,0.5) ;
    margin: 70px;
    margin-top: 20%;
}



